.contentWrap {
    overflow-y: scroll;
    width: 60vw;
    .slideWrap {

        width: 100%;
        margin-top: 25px;
        max-height: 500px; // width: auto
        .mySlides {
            img {
                max-height: 350px;
                max-width: 100%;
            }
        }
    }
    .socialMedia {
        width: 50%;
        margin: 0 auto;
        margin-top: 25px;
        .fa-external-link-square-alt,
        .fa-facebook {
            color: #651717;
        }
    }
}



/*---- TABLET ----*/

@media only screen and (max-width: 991px) {
    .contentWrap {
        z-index: -1;
        .socialMedia {
            width: 100%;
            margin: 0;
        }
    }
}


/*---- MOBILE----*/

@media only screen and (max-width: 500px) {
    .contentWrap {
        overflow-y: scroll;
        width: 90vw;
    }
}
